In [1]:
import pandas as pd
data =pd.read_csv('DOB - Sheet1.csv')

In [2]:
data

      fname     lname          dob
0     peter      anfa  12-Jun-1999
1     james    sjisej  11-Sep-2020
2  catherin  skjenfji  21-Aug-2020
3     Sayem  ijbvijsd  31-Dec-1990
4      Appu   djbvuis  14-Jan-1998
5     Honey      sbsd  14-Feb-1999
6     peter     iubei  14-Jun-1999
7   Senthik      sbfi   7-Dec-1990
8     Arjun    svsjbf  13-Oct-1999

In [30]:
name_len = []

for i in range(len(data)):
    
    name_len.append(len(data['fname'][i] + data['lname'][i]))
    
print(name_len)

[9, 11, 16, 13, 11, 9, 10, 11, 11]

In [31]:
dup_ind = {}
for a in s:
    d = []
    for i in range(len(name_len)):
        if name_len[i] == a:
            d.append(i)
        dup_ind[a] = d
print(dup_ind)

{9: [0, 5], 10: [6], 11: [1, 4, 7, 8], 13: [3], 16: [2]}

In [32]:
dob = data['dob'].tolist()

In [21]:
from datetime import datetime
dob.sort(key = lambda date: datetime.strptime(date, '%d-%b-%Y'))

In [22]:
dob_pref = []
for i in data['dob'].tolist():
    dob_pref.append(dob.index(i))
print(dob_pref)

[4, 8, 7, 1, 2, 3, 5, 0, 6]

In [27]:
for i in list(set(names_len)):
    if len(dup_ind[i]) > 1:
        h = []
        for j in dup_ind[i]:
            h.append(dob_pref[j])
        for i in sorted(h):
            print(data['fname'][dob_pref.index(i)] + " "+data['lname'][dob_pref.index(i)])
    else:
        print(data['fname'][name_len.index(i)]+" "+data['lname'][name_len.index(i)])

Honey sbsd
peter anfa
peter iubei
Senthik sbfi
Appu djbvuis
Arjun svsjbf
james sjisej
Sayem ijbvijsd
catherin skjenfji